:root {
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Gray-500: hsl(0, 0%, 42%);
    --Gray-950: hsl(0, 0%, 7%);
}

body{
    margin: 0;
    padding: 0;
    font-family: "Figtree", sans-serif;
    font-style: normal;
    background: var(--Yellow);
}

.container{
    /* border: 1px solid red; */
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.card{
    background: var(--White);
    padding: 20px;
    border-radius: 20px;
    border: 1px solid var(--Gray-950);
    box-shadow: 10px 10px;
}

.card .card-header{

}

.card .card-header img{
    width: 100%;
    border-radius: 15px;
}

.card .card-header h3{
    background: var(--Yellow);
    padding: 5px 13px;
    border-radius: 8px;
    width: 80px;
}

.card .card-header p{
    font-weight: 600;
}

.card .card-body{

}

.card .card-body p{
    color: var(--Gray-500);
    font-weight: 500;
}

.card .card-footer{
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
    align-items: center;
}

.card .card-footer img{
    width: 35px;
    height: 35px;
}

.card .card-footer p{
    padding-left: 10px;
    font-weight: 800;
}

@media only screen and (min-width: 700px)  {
    .container{
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}